/*===============GENERAL===============*/

* {
  box-sizing: border-box;
}

body {
  padding: 0; margin: 0;
  height: 100vh; width: 100vw;
  font-family: sans-serif;
  background: black;
}

/*===============MAIN===============*/
.main {
	position: fixed; 
	top: 0; left: 0; bottom: 0; right: 0;
	margin: 0; padding: 0;
	display: flex; flex-direction: column;
}

a {
	color: #ff0040; /*Carmine Red*/
}

.main h1 {
	text-align: center;
}

/*===============SCOREBOARD===============*/
.scoreBoard {
  flex: 1; display: flex;
  justify-content: space-between;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  position: fixed;
  padding-top: 100px;
  height: 94vh; width: 100%;
  z-index: 999;
  color: #ECF0C9;
  font-size: 40vmax;
  pointer-events: none;
}
.score > span {
  flex: 1; display: flex;
  justify-content: center;
  align-items: center;
}

.display {
  color: white; /*Welcome Text*/
  flex: 1;
  display: flex;
  flex-direction: column;
}
.display  header {
  color: white; /*Player Name*/
}

/*===============PLAYER 1===============*/
.display.left .player-left {background: #1e90ff; /*Dodger Blue*/}
.display.left .isServing {order: 1;}
.display.left .isNotServing {order: -1;}

/*===============PLAYER 2===============*/
.display.right .player-right {background: #00bfff; /*Deep Sky Blue*/}
.display.right .isServing {order: -1;}
.display.right .isNotServing {order: 1;}

.display.isServing .isServing {
  color: white;
  background: #ff0040; /*Carmine Red*/
}

/*===============PLAYERS===============*/

.player {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 3;
}
.player input {
  width: 90%;
  height: 10vh;
  border: none;
  background: none;
  border-bottom: 4px solid #483d8b; /*Dark Slate Blue*/
  color: #ECF0C9;
  text-align: center;
  font-size: 8vh;
}

.player input:focus{
  border-bottom: 4px solid white;
}

/*Style the placeholder text*/
::-webkit-input-placeholder {
   color: white;
   opacity: .5;
}
:-moz-placeholder { /* Firefox 18- */
   color: white;
   opacity: .5; 
}
::-moz-placeholder {  /* Firefox 19+ */
  color: white;
   opacity: .5;  
}
:-ms-input-placeholder {  
   color: white;
   opacity: .5; 
}

/*===============HEADER===============*/

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #483d8b; /*Dark Slate Blue*/
  max-height: 15vh;
  font-size: 8vh;
  flex: 1;
  border-bottom: none;
  text-align: center;
}

/*===============FOOTER===============*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  font-size: 5vmin;
  background: white;
  color: #1e90ff; /*Dodger Blue*/
}
footer.menu {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
footer.menu div {
  display: flex;
  flex: 1;
  justify-content: space-around;
}
footer.menu button {
  background: #483d8b; /*Dark Slate Blue*/
  color: #ECF0C9;
  border: none;
  height: 9vh;
  font-size: 7vh;
  padding: 0 2vw;
}
footer.menu button.notSelected {
  color: #909f93;
}

.datetime {
	color: #ff0040; 
}

.loser {
  opacity: .2;
}

.lockout {
	pointer-events: none;
}