/*General Styles*/
body {
    background-color: #8b4513;
    text-align: justify;
    font-family: "Centure Gothic", CenturyGothic, serif;
}

a { 
    color: inherit; 
} 

/*THIS IS OUR MAIN DIV*/
.main {
    margin: 20px;
    padding: 20px;
    /*EXAMPLE - BACKGROUND IMAGE ON DIV*/
    background-image: url(img/texture.png);
    background-repeat: repeat;
    /*IF THE IMAGE IS MISSING, USE A COLOR*/
    background-color: #eee;
    border-radius: 20px;
    border-style: dashed;
}

/*Font Styles*/
#font1 {
    font-family: "Baskerville", Baskerville, sans-serif;
    font-size: large;
    font-weight: bold;
    color: #8b131d;
}

#font2 {
    font-family: "Centure Gothic", CenturyGothic, cursive;
    font-size: 20px;
    text-decoration: underline;
    color: #8b8113;
}


#font3 {
    font-family: Palatino, "Palatino Linotype", serif;
    font-size: 2em;
    text-decoration:line-through;
    color: #8b1359;
}


/*List Styles*/
ul {
    list-style: square;
}

/*Button Styles*/
#buttons a {
    padding-right: 10px;
}

.btn img {
    box-shadow: 5px 5px 10px rgb(0,0,0);
    border-radius: 50px;
    padding: 15px;
}

.btn :hover {
    box-shadow: none;
}