/* zeros margins and padding on body */
body {
	margin: 0;
	padding: 0;
	background-color: #999999;
}

/* it's best practice to zero margins and padding on lists */
ul, ol, dl { 
	padding: 0;
	margin: 0;
}

/* this keeps text away from all edges */
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px; 
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

/* LINK STYLING */
a {
	color: #f1008b;
}

a:hover, a:active, a:focus {
	text-decoration: none;
	color: #333333;
}

.disclaimer {
    text-align: center;
    background-color: #ffdc00;
    padding-top: 20px;
    padding-bottom: 0.1px;
    margin-bottom: 20px;
}

/* WRAPPER */
.wrapper {
	width: 90%;
	max-width: 1500px;
	min-width: 1323px;
	background: #FFFFFF;
	margin: 0 auto;
}

/* HEADER */
.header {
	background: #333290;
	height: 50px;
	padding: 20px 0px 10px 0px;
	color: #FFFFFF;
}

.header :hover{
	text-shadow: 2px 2px #f1008b;
}

.stickynav {
	right: 10%;
    padding: 10px 0px 10px 0px;
	margin-top: 5px;
	position: fixed;
    background: #ffdc00;
    opacity: 70%;
    box-shadow: 5px 5px black;
}

.stickynav ul li {
	display: inline;
    padding: 10px;
    font-weight: bold;
}

.stickynav ul li:hover {
	background: #f1008b;
    color: #ffdc00;
}

.stickynav ul li a:hover {
    color: #ffdc00;
}

/* LEFT SIDEBAR */
.sidebar1 {
	float: left;
	width: 23%;
	padding-bottom: 10px;
	color: #000000;
	box-shadow: 1px 1px 5px #666666;
    background: #ffdc00; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffdc00, #f1008b);
}

/* MAIN CONTENT */
.content {
    display: block;
    float: left;
	width: 54%;
    padding: 10px 0;
}

/* RIGHT SIDEBAR */

.sidebar2 {
	float: left;
	width: 23%;
	background: #FFFFFF;
    padding-top: 25px;
	padding-bottom: 10px;
	color: #000000;
	min-height: 100%;
	box-shadow: -1px 1px 5px #666666;
}

/* SECTION HEADER */

.section {
    width: 100%;
    color: white;
    background: #333290;
    padding: 30px 0px 5px 0px;
    margin: 10px;
    font-size: 30px;
    box-shadow: 5px 5px black;
}

/*  This grouped selector only applies to lists in .content  */
.content ul, .content ol { 
	padding: 0 15px 15px 30px; 
}

.special { 
	padding: 0px 0px 5px 15px; 
    width: 30%;
    float: left;
}

.content h2 { 
    margin-top: 0px;
    margin-bottom: 5px
}

.special:hover img { 
    border: 5px solid #f1008b;
    box-sizing: border-box;
}

.special img {
    width: 100%;
}

.special p { 
	background: #f1008b;
    padding: 10px;
    margin-top: -5px;
    color: #ffdc00;
    font-weight: bold;
}

/* navigation list styles, different from other links */
ul.nav {
	list-style: none;
	margin-bottom: 15px;
}

ul.nav li {
	border-bottom: 1px solid #333290;
	color: #FFFFFF
}

ul.nav a, ul.nav a:visited {
	padding: 10px 5px 10px 15px;
    font-size: 30px;
	display: block;
	text-decoration: none;
	background: #f1008b;
	color: #ffdc00;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus {
	background: #ffdc00;
	color: #f1008b;
}

/*  The footer  */
.footer {
	padding: 20px 0px 5px 0px;
	background: #333290;
	clear: both;
	text-align: center;
	color: #FFFFFF;
}