/*
 * Author: Scott Fisk
 * Last Updated: 02/27/16
 * Url: gofisk.com/code
 */

/*==============*/
/*GENERAL STYLES*/
/*==============*/

body {
  background-color: #f2f2f2;
    font-family: "Univers";
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    
    margin-top: 80px;
}

/*=============*/
/*UNIVERSE FONT*/
/*=============*/

@font-face {
    font-family: Univers;
    src: url("../fonts/Univers.otf") format("opentype");
}

@font-face {
    font-family: Univers;
    font-weight: bold;
    src: url("../fonts/Univers-Bold.otf") format("opentype");
}

@font-face {
    font-family: Univers;
    font-weight: lighter;
    src: url("../fonts/Univers-Light.otf") format("opentype");
}

/*==============*/
/*ANCHOR TAG FIX*/
/*==============*/
.anchor{
    display: block;
    height: 70px; /*same height as header*/
    margin-top: -70px; /*same height as header*/
    visibility: hidden;
}

/*============*/
/*TITLE STYLES*/
/*============*/
h1, h2, h3, h4, h5, h6 {
    font-family: "Univers";
    font-weight: 300;
    color: #333;
}

/*==========*/
/*TYPOGRAPHY*/
/*==========*/
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

.mt {
	margin-top: 40px;
}

/*===========*/
/*LINK STYLES*/
/*===========*/
a {
    color: #f85c37;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

/*======================*/
/*BOOTSTRAP MODIFICATION*/
/*======================*/
 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


.navbar {
	font-weight: 800;
	font-size: 14px;
	padding-top: 15px;
	padding-bottom: 10px;
	background-color: #ffffff;
}


#navbar-title {
    font-size: 40px;
    color: #2ecc71;
    padding-top: 15px;
    padding-bottom: 0px;
}

@media only screen and (max-width: 768px) {
    #navbar-title-div {
        padding-left: 20px;
    }
}

#navbar-title span {
    font-weight: 100;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ffffff;
    font-size: 200px;
	background-color: #2ecc71;
}

/*NAVBAR ICONS*/
#icons {
    font-size: 25px;
}

/*OVERRIDE DEFAULT BUTTON*/
.btn {
	padding: 10px 30px;
	margin-bottom: 0;
	font-size: 18px;
	border: 5px solid transparent;
	border-radius: 0px;
    white-space: normal;
}

/*CUSTOM THEME BUTTON*/
.btn-theme {
    color: #ffffff;
    background-color: black;
    font-weight: 800;
    font-size: 25px;
    padding: 5px 15px;
    border-color: transparent;
}

.topbar {
    color: #ffffff;
    background-color: #2eccc0;
    font-weight: 800;
    font-size: 25px;
    padding-top: 20px;
    border-color: transparent;
}

.btn-light {
    color: #ffffff;
    background-color: #a2252e;
    font-weight: 800;
    font-size: 25px;
    padding: 5px 15px;
    border-color: transparent;
}

.lead {
	letter-spacing: 1px;
}

/*================*/
/* CONTENT SECTION */
/*================*/

.content {
    background-color: #2ecc71;
    padding: 25px 0px;
    margin-bottom: 0px;
}

.content h1 {
    color: white;
    text-align: left;
    font-weight: 400;
    font-size: 40px;
}

.content h1 span {
    color: white;
    text-align: left;
    font-weight: 800;
    font-size: 40px;
}

.content p {
    margin-top: 20px;
	color: white;
    text-align: left;
	font-weight: 400;
	font-size: 20px;
}

.content p span {
    font-weight: 800;
    font-size: 20px;
}

.content a {
    color: #fff;
    text-decoration: underline;
}

.content img {
    width: 90%
}

/*====================*/
/* MAIN FOOTER STYLES */
/*====================*/
#footer {
	padding-top: 25px;
	background-color: #ffffff;
}

#footer p {
    color: #2ecc71;
	text-align: center;
	font-weight: 400;
}

/*=====================*/
/* PAGE SPECIFIC STYLES */
/*=====================*/


#navbar-title {
    color: #2ecc71;
}

.btn-theme {
    color: #ffffff;
    background-color: black;
}

.content {
    background-color: #2ecc71;
}

.content img {
    border: 4px solid white;
}

#section-about {
    background-color: #2ecc71;
}

#section-code {
    background-color: #cc2e3a;
}

#section-dev {
    background-color: #2e89cc;
}

#section-live {
    background-color: #c02ecc;
}
