<!DOCTYPE html>
<html lang="en">
    <head>
        <!--PAGE TITLE-->
            <title>EHS LIBRARY</title>
        
        <!--METADATA-->
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
            <meta name="title" content="EHS LIBRARY">
            <meta name="description" content="The Official Website of the Eagan High School Library">
            <meta name="tags" content="Library, Eagan, High, School, Minnesota">
            <meta name="author" content="Scott Fisk">
        
        <!--BOOTSTRAP CORE CSS-->
            <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
        
        <!--CUSTOM STYLES-->
            <link href="../assets/css/main.css" rel="stylesheet">
            <link href="../assets/css/themes/default.css" rel="stylesheet">
            <link href="../assets/css/table.css" rel="stylesheet">
            <link href="../assets/css/themes/default-table.css" rel="stylesheet">
    </head>
    
    <body ng-app="ehsResources" ng-controller="ehsController">
        <!--FIXED NAVBAR-->
        <div class="navbar navbar-default navbar-fixed-top show">
            <div class="container show">
                <div class="navbar-header show">
                    <button type="button" id="menuButton" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <strong>Menu</strong>
                    </button>
                    <a id="navbar-title" href="#"><strong>EHS</strong> Library</a>
                </div><!--./navbar-header-->
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <!--01--><li><a href="../">Home</a></li>
                        <!--02--><li  class="active"><a href="../search">Resource Finder</a></li>
                        <!--03--><li><a href="../about">About</a></li>
                        <!--04--><li><a href="../contact">Contact</a></li>
                    </ul>
                </div><!--/.navbar-collapse -->
            </div><!--./container-->
        </div><!--./navbar-->
        
        <div class="content" id="section-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="mainTitle">Resource Finder</h2>
                    </div><!--./col-md-12-->
                </div><!--./row-->
                <!--START ANGULAR APP-->
                <div id="startAngular">
                    <div class="row" id="filters">
                        <div class="col-md-3">
                            <fieldset>
                                <input type="text" id="search" class="form-control" placeholder="Type Here" ng-model="search.$" style="min-width: 100%;"></input>
                            </fieldset>
                        </div><!--./col-md-3-->
                        <div class="col-md-3">
                            <fieldset>
                                <select class="form-control" ng-model="search.category" ng-options="entry.category as entry.category for entry in ehsData | unique: 'category' | orderBy: '+category'">
                                    <option value="" >-- Filter by Category --</option>
                                </select>
                            </fieldset>
                        </div><!--./col-md-3-->
                    </div><!--./row-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-success">
                                Showing 
                                <strong ng-bind="filtered.length"></strong><strong>/</strong><strong ng-bind="ehsData.length"></strong> 
                                resources <span id="urlParamTitle"></span>
                                <a id="resetText" style=cursor:pointer; ng-click="search = undefined" onclick="focusSearch();"><span>[Reset]</span></a>
                            </div>
                        </div><!--./col-md-12-->
                    </div><!--./row-->
                    <!--START ANGULAR TABLE-->
                    <center><img src="../assets/img/loading.gif" ng-show="loading" /></center>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-wrap">
                                <table class="ehsTable">
                                    <thead>
                                        <tr ng-hide="(ehsData | filter:search).length == 0">
                                            <th>
                                                <a style=cursor:pointer; ng-click="sortType = 'title'; sortReverse = !sortReverse">
                                                    Title
                                                    <span ng-show="sortType == 'title' && !sortReverse" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType == 'title' && sortReverse" class="fa fa-caret-up"></span>
                                                </a>
                                            </th>
                                            <th>Description</th>
                                            <th>Link</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="entry in ehsData | orderBy:sortType:sortReverse| filter:search | filter:query as filtered">
                                            <td><strong ng-bind="entry.title"></strong></td>
                                            <td ng-bind="entry.description"></td>
                                            <td><a ng-bind="'Link'" href="{{ entry['link'] }}" class="btn btn-block btn-theme"></a></td>
                                        </tr>
                                        <span ng-show="(ehsData | filter:search).length == 0">
                                            <h2 id="matchMessage">No Results</h2>
                                            <a id="matchButton" class="btn btn-block btn-theme" style="margin-top: 8px;" ng-click="search = undefined" onclick="focusSearch()">Reset Search</a>
                                        </span>
                                    </tbody>
                                </table>
                            </div><!--./table-wrap-->
                        </div><!--./startAngular-->
                    </div><!--./col-md-12-->
                </div><!--./row-->
            </div><!--./container-->
        </div><!--./content-->
        
        <div id="footer">
            <div class="container">
                <div class="row">
                    <p>
                    Copyright &copy; <script>document.write(new Date().getFullYear())</script> | Design by <a href="http://gofisk.com/about">Scott Fisk</a>
                    </p>
                </div><!--./row-->
            </div><!--./container-->
        </div><!--./footer-->

        <!--LOAD JS AT END TO IMPROVE LOAD TIME-->
            <!--JQUERY-->
            <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        
            <!--ANGULAR JS-->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-utils/0.1.1/angular-ui-utils.min.js"></script>
        
            <!--HTML5 SHIM AND RESPOND.JS IE8 HTML5 AND MEDIA QUERY SUPPORT-->
            <!--INTERNET EXPLORER IS THE WORST, BUT THIS SHOULD MAKE IT WORK-->
                <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
                <![endif]-->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
            <script src="../assets/data/resources.js"></script>
        
        <!--GOOGLE ANALYTICS TRACKING CODE -->
        <script>
        
        </script>
    </body>
</html>