<ion-view view-title="No Internet Connection" class="login-bg">
    <div class="at-center text-center padding">
        <div class="login-logo light">
            NO <span class="bold cyclone">INTERNET</span>
        </div>
        <div class="card">
            <div class="list item-text-wrap">
                <p class="login-help">This application requires an internet connection to work. Every time you open the app it pulls the latest data from our server and makes sure that you have the most up-to-date information. This also allows us to add features to the app without requiring you to update the app.
                </p>
            </div>
        </div>
        <a href="#/app/home" class="button button-positive button-block">Try Again</a>
    </div>
    <div class="at-bottom padding-horizontal text-center">
        <h5 class="light">CFWMOBILE v1.0.2 | <a class="cyclone" href="mailto:fisk@iastate.edu">Contact Developer</a></h5>
    </div>
</ion-view>
