<ion-view view-title="No Internet Connection" class="login-bg">
    <div class="at-center text-center padding">
        <div class="login-logo light">
            NO <span class="bold energized">INTERNET</span>
        </div>
        <a href="#/app/home" class="button button-positive button-block">Try Again</a>
    </div>
    <div class="at-bottom padding-horizontal text-center">
        <h5 class="light">CFWMOBILE v0.0.2 | <a class="energized" href="mailto:fisk@iastate.edu?Subject=CFWMOBILE%20&Body=*Please%20enter%20your%20question/comment%20below%20and%20I%20will%20get%20back%20to%20you%20as%20soon%20as%20possible.*%0A">Contact Developer</a></h5>
    </div>
</ion-view>
