<!DOCTYPE html>
<html lang="en">
    <head>
        <!--PAGE TITLE-->
            <title>ISU StuGov</title>
        
        <!--METADATA-->
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
            <meta name="title" content="ISU Student Government">
            <meta name="description" content="The Official Website of Iowa State University Student Government">
            <meta name="tags" content="Student, Government, Ames, Iowa">
            <meta name="author" content="Scott Fisk">
        
        <!--FACEBOOK OPEN GRAPH METADATA-->
            <meta property="og:url" content="http://www.stugov.iastate.edu" />
            <meta property="og:title" content="ISU Student Government" />
            <meta property="og:description" content="The Official Website of Iowa State University Student Government" />
            <meta property="og:image" content="#" />
        
        <!--BOOTSTRAP CORE CSS-->
            <link href="assets/css/bootstrap.min.css" rel="stylesheet">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
        
        <!--CUSTOM SG STYLES-->
            <link href="assets/css/main.css" rel="stylesheet">
            <link href="assets/css/themes/default.css" rel="stylesheet">
            <link href="assets/css/table.css" rel='stylesheet'>
            <link href="assets/css/themes/default-table.css" rel='stylesheet'>

    </head>
    
    <body>
        <!--FIXED NAVBAR-->
        <div class="navbar navbar-default navbar-fixed-top show">
            <div class="container show">
                <div class="navbar-header show">
                    <button type="button" id="menuButton" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
                        <strong>Menu</strong>
                    </button>
                    <a id="navbar-title" href="#"><strong>S</strong>tu<strong>G</strong>ov<span>.com</span></a>
                </div><!--./navbar-header-->
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="updates">Updates</a></li>
                        <li><a href="directory">Directory</a></li>
                        <li><a href="resources">Resources</a></li>
                        <li><a href="funding">Funding</a></li>
                        <li><a href="projects">Projects</a></li>
                        <!--<li><a href="join">Get Involved</a></li>-->
                        <li><a href="about">About</a></li>
                        <li><a href="contact">Contact</a></li>
                    </ul>
                </div><!--/.navbar-collapse -->
            </div><!--./container-->
        </div><!--./navbar-->

        <div class="content" id="section-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="centered ribbon">Welcome to Student Government at ISU</h3>
                    </div>
                    <div class="col-md-8 hideOnMobile">
                        <blockquote>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hello and thank you for visiting the website of Iowa State University's Student Government. I am excited for this coming school year and look forward to seeing what we can accomplish together. Please email me or any members of Student Government at any time. We would love to answer any questions that you may have. Go Cyclones!
                            <br><br>
                        My very best,
                            <br><br>
                        Cole Staudt, SG President
                        </blockquote>
                    </div><!--./col-md-8-->
                    <div class="col-md-4">
                        <div class="widget">
                            <h3 class="ribbon" id="meeting">We'll see you next year</h3>
                            <h4>...until then, Go Cyclones!</h4>
                            <!--
                            <h4><i class="fa fa-calendar"></i> Wednesday, Apr 20</h4>
                            <h4><i class="fa fa-clock-o"></i> 7:00pm Start Time</h4>
                            <h4><i class="fa fa-map-marker"></i> Campanile Room</h4>
                            <h4><i class="fa fa-calendar"></i> Memorial Union</h4>
                            -->
                        </div>
                    </div>
                </div><!--./row-->
                <div>
                    <div class="col-md-2 hideOnMobile">
                        <div class="thumbnail">
                                <img src="directory/images/cmstaudt.jpg">
                                <div class="caption">
                                    <h4><a href="mailto:cmstaudt@iastate.edu?subject=Student%20Government">Cole Staudt</a><br><strong>President</strong></h4>
                                </div><!--./caption-->
                            </div><!--./thumbnail-->
                    </div><!--./col-md-2-->
                    <div class="col-md-2 hideOnMobile">
                        <div class="thumbnail">
                                <img src="directory/images/codywest.jpg">
                                <div class="caption">
                                    <h4><a href="mailto:codywest@iastate.edu?subject=Student%20Government">Cody West</a><br><strong>Vice President</strong></h4>
                                </div><!--./caption-->
                            </div><!--./thumbnail-->
                    </div><!--./col-md-2-->
                    <div class="col-md-2 hideOnMobile">
                        <div class="thumbnail">
                                <img src="directory/images/drnygard.jpg">
                                <div class="caption">
                                    <h4><a href="mailto:drnygard@iastate.edu?subject=Student%20Government">Danielle Nygard</a><br><strong>Speaker</strong></h4>
                                </div><!--./caption-->
                            </div><!--./thumbnail-->
                    </div><!--./col-md-2-->
                    <div class="col-md-2 hideOnMobile">
                        <div class="thumbnail">
                                <img src="directory/images/cmtillo.jpg">
                                <div class="caption">
                                    <h4><a href="mailto:cmtillo@iastate.edu?subject=Student%20Government">Conner Tillo</a><br><strong>Vice Speaker</strong></h4>
                                </div><!--./caption-->
                            </div><!--./thumbnail-->
                    </div><!--./col-md-2-->
                    <div class="col-md-2 hideOnMobile">
                        <div class="thumbnail">
                                <img src="directory/images/nophoto.jpg">
                                <div class="caption">
                                    <h4><a href="mailto:mjscott@iastate.edu?subject=Student%20Government">Matthew Scott</a><br><strong>Chief of Staff</strong></h4>
                                </div><!--./caption-->
                            </div><!--./thumbnail-->
                    </div><!--./col-md-2-->
                    <div class="col-md-2 hideOnMobile">
                        <div class="thumbnail">
                                <img src="directory/images/snook.jpg">
                                <div class="caption">
                                    <h4><a href="mailto:snook@iastate.edu?subject=Student%20Government">Michael Snook</a><br><strong>Finance Director</strong></h4>
                                </div><!--./caption-->
                            </div><!--./thumbnail-->
                    </div><!--./col-md-2-->
                </div><!--./row-->
                <div class="row">
                    <div class="col-md-12">
                        <div id="introAlert" class="alert alert-info hideOnMobile">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>Welcome to our new website!</strong> You asked for more transparency, and we listened. You can now access everything we do as soon as we do it.
                        </div><!--./alert-->
                        <!--START ANGULAR APP-->
                        <div id="startAngular" ng-app="sgUpdates" ng-controller="sgController">
                            
                            <!--START ANGULAR TABLE-->
                            <div class="table-wrap">
                                <table class="sgTable">
                                    <thead>
                                        <tr ng-hide="(fs_dir.sgUpdates.directory | filter:search).length == 0">
                                            <th>Title</th>
                                            <th>Date</th>
                                            <th>Link</th>
                                        </tr>
                                    </thead>
                                    <tbody class="hideOnMobile">
                                        <tr ng-repeat="update in fs_dir.sgUpdates.directory | orderBy:sortType:sortReverse | limitTo : 4">
                                            <td><strong>{{update.TITLE}}</strong></td>
                                            <td>{{update.NICE_DATE}}</td>
                                            <td><a href="{{update.LINK}}" class="btn btn-block btn-theme">{{update.LINK_TEXT}}</a></td>
                                        </tr>
                                    </tbody>
                                    <tbody class="hideOnDesktop">
                                        <tr ng-repeat="update in fs_dir.sgUpdates.directory | orderBy:sortType:sortReverse | limitTo : 1">
                                            <td><strong>{{update.TITLE}}</strong></td>
                                            <td>{{update.NICE_DATE}}</td>
                                            <td><a href="{{update.LINK}}" class="btn btn-block btn-theme">{{update.LINK_TEXT}}</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><!--./table-wrap-->
                        </div><!--./startAngular-->
                        <a href="updates" class="btn btn-block btn-gold btn-margin">View All Updates</a>
                    </div>
                </div><!--./row-->
            </div><!--./container-->
        </div><!--./content-->

        <div class="content" id="section-slate">
            <div class="container">
                <div class="row hideOnMobile">
                    <div class="col-md-5">
                        <h3 class="blackText centered ribbon">Twitter</h3>
                        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/cfwonline" data-widget-id="723236727972720641">Tweets by @cfwonline</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </div>
                    <!--<div class="col-md-5">
                        <h3 class="blackText centered ribbon">Facebook</h3>
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fisustugov&tabs=timeline&width=340&height=300&small_header=true&adapt_container_width=false&hide_cover=true&show_facepile=false&appId=833587470080365" width="100%" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                    </div>-->
                    <div class="col-md-2">
                        <h2 class="ribbon redRibbon">It's a great day to be a Cyclone! <br><br>Follow StuGov on Social Media!</h2>
                    </div>
                    <div class="col-md-5">
                        <h3 class="blackText centered ribbon">Instagram</h3>
                        <!-- LightWidget WIDGET --><script src="http://lightwidget.com/widgets/lightwidget.js"></script><iframe src="http://lightwidget.com/widgets/cbf9c9f2bda757d98aca4e437fc7d808.html" id="lightwidget_cbf9c9f2bd" name="lightwidget_cbf9c9f2bd"  scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
                    </div>
                </div><!--./row-->
                <div class="row hideOnDesktop">
                    <div class="col-md-6">
                        <a href="https://twitter.com/ISUStuGov" class="btn btn-block btn-twitter"><i class="fa fa-twitter"></i> Tweet @ISUStuGov</a>
                    </div>
                    <div class="col-md-6">
                        <a href="https://facebook.com/isu.stugov" class="btn btn-block btn-facebook"><i class="fa fa-facebook"></i> Find us on Facebook</a>
                    </div>
                </div>
            </div><!--./container-->
        </div><!--./content-->

	   <div id="footer">
            <div class="container">
                <div class="row">
                    <p>
                    Copyright &copy; <script>document.write(new Date().getFullYear())</script> | Design by <a href="http://gofisk.com/about">Scott Fisk</a>
                    </p>
                </div><!--./row-->
            </div><!--./container-->
        </div><!--./footer-->

        <!--LOAD JS AT END TO IMPROVE LOAD TIME-->
            <!--JQUERY-->
            <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        
            <!--ANGULAR JS-->
            <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
            <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-utils/0.1.1/angular-ui-utils.min.js"></script>
        
            <!--HTML5 SHIM AND RESPOND.JS IE8 HTML5 AND MEDIA QUERY SUPPORT-->
            <!--INTERNET EXPLORER IS THE WORST, BUT THIS SHOULD MAKE IT WORK-->
                <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
                <![endif]-->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
            <script src="assets/data/updates.js"></script>
            <script src="assets/js/urlParams.js"></script>

        <!--GOOGLE ANALYTICS TRACKING CODE -->
        <script>
        
        </script>
    </body>
</html>