h2 {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#content {
    text-align: center;
    margin: auto;
    width: 600px;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}