@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    border-radius: 0 !important;
    font-family: 'Roboto', sans-serif;
}

.main {
    margin-top: 100px;
}

p {
    text-indent: 50px;
    padding: 10px;
}

a {
    color: white;
}

a:hover {
    color: #333;
}

.darklink {
    color: black;
}

.btn-theme {
    background-color: #93c47d;
    color: white;
}

.btn-dark {
    background-color: #333;
    color: white;
}

.content {
    padding: 20px;
}

.navbar-toggle {
    border-radius: 0;
}

.intro {
    text-align: center;
    background-color: #93c47d;
    padding: 40px;
    color: #F2F1EF;
}

.features {
    text-align: center;
}

.page-title {
    text-align: left;
}

.ssfooter {
    text-align: center;
    background-color: #93c47d;
    color: #F2F1EF;
    padding: 30px;
}

.footer-links {
    text-align: center;
    word-wrap: normal;
}


/*GALLERY STYLES*/

.main-gallery {
    margin: 20px 0px 20px 0px;
}

.gallery-cell {
    width: 100%!important;
    height: auto;
    margin-right: 10px!important;
    overflow: hidden;
}

.gallery-cell img{
    width: 100%!important; 
    height: 100% !important;
}

.gallery-cell h3 {
    margin-top: -250px;
    color: white !important;
    position: absolute;
    text-align: center !important;
    width: 100%;
    left: 0px;
}

.gallery-cell p {
    font-size: 20px;
    margin-top: -175px;
    color: white !important;
    position: absolute;
    text-align: center !important;
    width: 100%;
    left 0px;
}

.shade {
    background-color: red;
    overflow: hidden;
    height: 100%;
    z-index: 2;
}

/* position dots in gallery */
.flickity-page-dots {
    bottom: 12px;
    left: -15px;
}

.flickity-page-dots .dot {
    width: 8px;
    height: 8px;
    opacity: 1;
    background: transparent;
    border: 2px solid white;
}

.flickity-page-dots .dot.is-selected {
    background: white;
}
    
h1 {
    color: #666 !important;
    text-align: center;
}

.flickity-prev-next-button {
    background:none;
}
.flickity-prev-next-button:hover {
    background:none;
    opacity:0.5
}
.flickity-prev-next-button .arrow {
    fill:#fff;
}

/* NAVBAR MODS */

/* navbar */
.navbar-fixed-top {
    min-height: 100px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 100px;
}

.navbar-brand img {
    padding: 5px;
    height: 80px;
    position: fixed;
}

.navbar-inverse .navbar-text, .navbar-inverse .navbar-nav > li > a {
  color: #93c47d;
    font-size: 20px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
        line-height: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .navbar-brand img {
        padding: 0px;
        margin: -8px;
        height: 40px;
        position: fixed;
    }
    
    .navbar-fixed-top {
        min-height: 50px;
    }
    
    .main {
        margin-top: 50px;
    }
    
    .gallery-cell h3 {
    margin-top: -140px;
    font-size: 30px;
    color: white !important;
    text-align: center !important;
}

.gallery-cell p {
    display: none;
}
}