@media (max-width: 560px) {
    /*PROJECT TITLE AND CONTACT*/
    table.sgTable tbody tr td:nth-child(1) {
        font-size: 22px;
        font-weight: 300;
    }
    
    /*PROJECT DATE*/
    table.sgTable tbody tr td:nth-child(2) {
        display: none;
    }
    
    /*PROJECT DESCRIPTION*/
    table.sgTable tbody tr td:nth-child(3):before {
        margin-top: 10px;
        content: "Project Description:";
        font-size: 22px;
        display: block;
    }
    table.sgTable tbody tr td:nth-child(3) {
        font-size: 15px;
        padding: 4px 0;
        display: block;
    }
    
    /*PROJECT STATUS*/
    table.sgTable tbody tr td:nth-child(4) {
        padding: 10px;
        font-size: 20px;
    }
}