@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    border-radius: 0 !important;
    font-family: 'Roboto', sans-serif;
}

.main {
    margin-top: 50px;
}

.navbar-toggle {
    border-radius: 0;
}

.intro {
    text-align: center;
    background-color: #26A65B;
    padding: 50px;
    color: #F2F1EF;
}

.ssfooter {
    text-align: center;
    background-color: #26A65B;
    color: #F2F1EF;
    padding: 30px;
}

.footer-links {
    text-align: center;
    word-wrap: normal;
}


/*GALLERY STYLES*/

.main-gallery {
    margin: 20px 0px 20px 0px;
}

.gallery-cell {
    width: 100%!important;
    height: auto;
    margin-right: 10px!important;
}

.gallery-cell img{
    width: 100%!important; 
    height: 100%;
}

/* position dots in gallery */
.flickity-page-dots {
    bottom: 12px;
    left: -15px;
}

.flickity-page-dots .dot {
    width: 8px;
    height: 8px;
    opacity: 1;
    background: transparent;
    border: 2px solid white;
}

.flickity-page-dots .dot.is-selected {
    background: white;
}
    
h1 {
    color: #666 !important;
    text-align: center;
}

.flickity-prev-next-button {
    background:none;
}
.flickity-prev-next-button:hover {
    background:none;
    opacity:0.5
}
.flickity-prev-next-button .arrow {
    fill:#fff;
}

/* NAVBAR MODS */

/* navbar */
.navbar-inverse {
    height: 100px;
}

.navbar-brand img {
    padding: 5px;
    height: 80px;
    position: fixed;
}
/* Title */
.navbar-default .navbar-brand {
    color: #f1be48;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #fff;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #f1be48;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #f1be48;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #f1be48;
    border-bottom-color: #f1be48;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #f1be48;
    border-bottom-color: #f1be48;
}
/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #f1be48;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #f1be48;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #f1be48;
    }
}